@value colors: "../../assets/styles/variables.css";
@value white, blue, yellow from colors;

.button, .button:active, .button:focus{
    color: white;
    font-size: 12px;
    padding: 5px;
    border: 1px solid yellow;
    background-color: blue;
    cursor: pointer;
    outline: none;
}
.button.selected{
    background-color: yellow;
}