@value colors: "../../assets/styles/variables.css";
@value black, cerulean, atlantis, white, grey, darkGrey, lightGrey from colors;

.errorBoundary{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightGrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.errorBoundary h5{
    font-weight: 600;
    color: black;
    font-size: 1.2rem;
    padding-bottom: 5px;
}
.errorBoundary a{
    color: cerulean;
    font-weight: 800;
    text-decoration: none;
}